<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projetoengenharia.projetoengenharia">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TelaSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ListaClientesActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ListaOrdemServicoActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.Editar_Ordem_Servico_Activity"
            android:parentActivityName=".activity.ListaOrdemServicoActivity"/>
        <activity android:name=".activity.CadastroClienteActivity"
            android:parentActivityName=".activity.ListaClientesActivity"/>
        <activity android:name=".activity.CadastrarOrdemServicoActivity"
            android:parentActivityName=".activity.ListaOrdemServicoActivity"></activity>
    </application>

</manifest>